@import 'components/global';

@import 'components/breadcrumb';
@import 'components/call_button';
@import 'components/container';
@import 'components/thumbnail';
@import 'components/typography';
@import 'components/transition';

.gs-container__list {
    
    padding-left: 10px;

    > li {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
}
