
$medium-start: 768px;

.gs-header {

  background-color: #00a54f;

  color: #fff;
  text-shadow: 2px 2px 2px green;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  @media screen and (min-width: $medium-start) {
    font-size: 40px;
  }
}
