
header.gs-header {

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  font-family: 'Lobster', cursive;

  height: 60px;

  background-color: #00a54f;

  > label {
    padding: 0 10px;
    color: #fff;
  }
}
