
.gs-link {
  background: none;
  border: none;
  text-decoration: none;
  font: 400 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: dodgerblue;
  border-bottom: 1px dotted dodgerblue;
}
