@import 'variables';

.gs-link {
  background: none;
  border: none;
  text-decoration: none;
  font: $gs-default-medium-font;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: $gs-link-color;
  border-bottom: $gs-link-border-bottom;

  &:hover {
    color: #CC0000;
    border-color: #f0b2b2;
  }

  &:visited {
    color: #B40EB4;
    border-color: #e0b2e0;

    &:hover {
      color: #CC0000;
      border-color: #f0b2b2;
    }

  }
}

.gs-link-dotted {
  border-bottom-style: dotted;
}