/* ========================================================================
   Component: List
 ========================================================================== */
.gs-list {

  margin-top: 0;
  padding: 0;
  list-style: none;

  > li:before, li:after {
    content: "";
    display: table;
  }

  > li:after {
    clear: both;
  }

  > li > :last-child {
    margin-bottom: 0;
  }
}

.gs-list-space > li:nth-child(n+2) {
  margin-top: 5px;
}