.gs-spoiler-state {
  display: none;
}

.gs-spoiler-target {
  display: none;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.gs-spoiler-state:checked + .gs-spoiler-target {
  display: inline;
  font-size: inherit;
  max-height: 999em;
}

.gs-spoiler-state ~ .gs-spoiler-trigger:before {
  content: "Показать весь текст ↓";
}

.gs-spoiler-state:checked ~ .gs-spoiler-trigger:before {
  content: 'Свернуть ↑';
}
