$medium-start: 768px;

$gs-link-color: #07d;
$gs-link-border-bottom: 1px solid rgba(0, 120, 220, .33);

$gs-default-large-font: 400 16px / 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
$gs-default-medium-font: 400 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;