@import 'breadcrumb';
@import 'header';
@import 'list';
@import 'phonelink';
@import 'section';
@import 'story-with-spoiler';

//
// NOTE!
// Make sure your component supports screens:
//
// - 320px width;
// - 480px width;
// - 768px width;
// - 960px width;
// - 1200px width;
//
// Get UI Kit:
// Mini	    up to 479px         Phones portrait
// Small    480px to 767px	    Phones landscape
// Medium   768px to 959px	    Tablets portrait
// Large	960px to 1199px	    Desktops & tablets landscape
// Xlarge	1200px and larger	Large Desktops
//

.gs-disabled {
  color: #999;
}

.gs-main-menu {

  // Breadcrumbs
  > .uk-container {
    > .uk-breadcrumb {
      margin-bottom: 0;

      > li > h1 {
        margin-bottom: 0;
      }
    }
  }


  // Website navigation
  .gs-navigation {

    .gs-width-250-px {
      width: 250px;
    }

    a {
      color: #51a2f1;
      border-bottom: 1px solid rgba(30, 144, 255, 0.33);
      text-decoration: none;

      &:hover {
        color: #CC0000;
        border-color: #f0b2b2;
      }
    }
  }

}