@import 'breadcrumb';
@import 'header';
@import 'link';
@import 'list';
@import 'phonelink';
@import 'section';
@import 'story-with-spoiler';

//
// NOTE!
// Make sure your component supports screens:
//
// - 320px width;
// - 480px width;
// - 768px width;
// - 960px width;
// - 1200px width;
//
// Get UI Kit:
// Mini	    up to 479px         Phones portrait
// Small    480px to 767px	    Phones landscape
// Medium   768px to 959px	    Tablets portrait
// Large	960px to 1199px	    Desktops & tablets landscape
// Xlarge	1200px and larger	Large Desktops
//


.gs-nanotech-parallax {

  /* The image used */
  background-image: url("../img/nanotech.jpg");

  ///* Set a specific height */
  //height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.gs-main-menu {

  // Story
  .gs-story-with-spoiler {
    text-shadow: 0 0 5px white;
  }

  // Breadcrumbs
  > .uk-container {
    > .uk-breadcrumb {
      margin-bottom: 0;

      > li > h1 {
        margin-bottom: 0;
      }
    }
  }

  // Website navigation
  .gs-navigation {
    > p {
      line-height: 2;
      text-shadow: 0 0 10px white;

      > a {
        color: $gs-link-color;
        border-bottom: $gs-link-border-bottom;
        text-decoration: none;

        &:hover {
          color: #CC0000;
          border-color: #f0b2b2;
        }
      }
    }
  }

}

.uk-breadcrumb {
  font: $gs-default-large-font;

  > li > .gs-link {
    font: $gs-default-large-font;
    color: $gs-link-color;
    border-bottom: $gs-link-border-bottom;
    text-decoration: none;

    &:hover {
      color: #CC0000;
      border-color: #f0b2b2;
    }
  }

  > li > h1 {
    display: inline-block;
  }
}

.gs-contact {
  max-width: 300px;

  > span.gs-contact-name {
    width: 75px;
    word-break: break-all;
  }
}

.gs-text-large {
  font: $gs-default-large-font;
}

.karta-poselka {
  > ul.uk-breadcrumb {
    position: fixed;
    top: 75px;
    left: 55px;

    @media screen and (min-width: $medium-start) {
      top: 135px;
    }
  }

  > iframe {
    z-index: -1;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    @media screen and (min-width: $medium-start) {
      top: 120px;
    }

  }
}