@import 'breadcrumb';
@import 'header';
@import 'link';
@import 'list';
@import 'phonelink';
@import 'section';
@import 'story-with-spoiler';

//
// NOTE!
// Make sure your component supports screens:
//
// - 320px width;
// - 480px width;
// - 768px width;
// - 960px width;
// - 1200px width;
//
// Get UI Kit:
// Mini	    up to 479px         Phones portrait
// Small    480px to 767px	    Phones landscape
// Medium   768px to 959px	    Tablets portrait
// Large	960px to 1199px	    Desktops & tablets landscape
// Xlarge	1200px and larger	Large Desktops
//


html {
  /* 1 */
  font: normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 3 */
  background: #fff;
  color: #444;
  background-image: -webkit-radial-gradient(100% 100%, center, #fff, #fff);
  background-image: radial-gradient(100% 100% at center, #fff, #fff);
}

body {
  min-width: 320px;
  margin: 0;
}

h3 {
  /* layout */
  margin-top: 10px;
  margin-bottom: 5px;
  @media (min-width: $medium-start) {
    margin-top: 15px;
  }
  @media (min-width: $xlarge-start) {
    margin-top: 20px;
  }
}

.gs-disabled {
  color: #999;
}