// Variables
//------------------------------------------------------
$offcanvas-btn-back:            rgba(255, 255, 255, 0.1);

// Exports
//------------------------------------------------------
@include exports("off-canvas") {

    .gs-off-canvas {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 2; /* Stay on top */
        top: 0;
        right: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
    }

    .gs-off-canvas__bar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 2; /* Stay on top */
        top: 0;
        right: 0;
        background-color: $darkgray-dark;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 30px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    .gs-off-canvas__label {
        color: $mediumgray-light;
        display: inline-block ;
        font: italic 26px/32px "Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 10px 20px;
        margin: 20px 10px 0px 56%;
        text-align: center;
        transition-property: opacity;
        transition-duration: .5s;
        vertical-align: middle;
        white-space: nowrap;
    }

    .gs-off-canvas__bar > hr {
        border: none; 
        margin-top: 0;
        margin-bottom: 10px;
        background-color: $offcanvas-btn-back; 
        color: $offcanvas-btn-back; 
        height: 1px; 
        transition-property: opacity;
        transition-duration: .5s;
    }

    .gs-off-canvas__btn {
        background: none;
        border: none;
        color: $darkgray-light;
        display: block;
        font: normal 18px/26px "Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 8px 8px 8px 24px;
        text-align: left;
        text-decoration: none;
        transition-property: opacity;
        transition-duration: .5s;
        white-space: nowrap;
        width: 100%;

        > i {
            opacity: 0;
        }

        &.active {
            background-color: $offcanvas-btn-back;
            color: $white;

            > i {
                opacity: 1;
            }
        }
    }

    .gs-off-canvas__btn:active,
    .gs-off-canvas__btn:focus
    {
        outline: none;
    }

}
