// Variables
//------------------------------------------------------
$nanotech-background-img:       url("../img/nanotech.png");
$nanotech-land-background-img:  url("../img/nanotech_land.png");
$img-background-size:           $common-width;
$footer-height:                 $common-height;

// Exports
//------------------------------------------------------
@include exports("footer") {

    .gs-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $footer-height;
        z-index: 1;
    }

    .gs-footer__veil {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        //F5F7FA
        background: -moz-linear-gradient(bottom, rgba(245,247,250,1) 0%, rgba(245,247,250,1) 75%, rgba(245,247,250,0) 100%);
        background: -webkit-linear-gradient(bottom, rgba(245,247,250,1) 0%, rgba(245,247,250,1) 75%,rgba(245,247,250,0) 100%);
        background: linear-gradient(to top, rgba(245,247,250,1) 0%, rgba(245,247,250,1) 75%,rgba(245,247,250,0) 100%);
    }

    .gs-footer__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background-image: $nanotech-background-img;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: $img-background-size;
    }

    .gs-footer__image_land {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background-image: $nanotech-land-background-img;
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: $img-background-size;
    }
}
