@charset "UTF-8";
.gs-breadcrumb {
  padding: 0;
  list-style: none;
  font-size: 0.001px; }
  .gs-breadcrumb > li {
    font-size: 1rem;
    vertical-align: top;
    display: inline-block; }
    .gs-breadcrumb > li > a {
      display: inline-block; }
    .gs-breadcrumb > li > h1 {
      display: inline-block;
      font: 400 16px / 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      paddin: 0; }
  .gs-breadcrumb > li:nth-child(n+2):before {
    content: "/";
    display: inline-block;
    margin: 0 8px; }
  .gs-breadcrumb > li:not(.gs-active) > h1 {
    color: #999; }

/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("../fonts/lobster-cyrillic.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("../fonts/lobster-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("../fonts/lobster-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

.gs-header {
  background-color: #00a54f;
  color: #fff;
  text-shadow: 2px 2px 2px green;
  font: 400 30px "Lobster", cursive;
  height: 60px;
  padding-bottom: 10px;
  padding-top: 10px; }
  @media screen and (min-width: 768px) {
    .gs-header {
      font-size: 40px;
      height: 120px;
      padding-bottom: 30px;
      padding-top: 30px; } }

/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("../fonts/lobster-cyrillic.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("../fonts/lobster-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("../fonts/lobster-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

.gs-link {
  background: none;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #07d;
  border-bottom: 1px solid rgba(0, 120, 220, 0.33); }
  .gs-link:hover {
    text-decoration: none;
    color: #CC0000;
    border-color: #f0b2b2; }
  .gs-link:visited {
    text-decoration: none;
    color: #B40EB4;
    border-color: #e0b2e0; }
    .gs-link:visited:hover {
      text-decoration: none;
      color: #CC0000;
      border-color: #f0b2b2; }

.gs-link-dotted {
  border-bottom-style: dotted; }

.gs-link-medium-font {
  font: 400 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* ========================================================================
   Component: List
 ========================================================================== */
.gs-list {
  margin-top: 0;
  padding: 0;
  list-style: none; }
  .gs-list > li:before, .gs-list li:after {
    content: "";
    display: table; }
  .gs-list > li:after {
    clear: both; }
  .gs-list > li > :last-child {
    margin-bottom: 0; }

.gs-list-space > li:nth-child(n+2) {
  margin-top: 5px; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.gs-phone-button {
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: white;
  background-color: #00a54f;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; }

[class*='gs-icon-'] {
  font-family: FontAwesome;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class*='gs-icon-'],
[class*='gs-icon-']:hover,
[class*='gs-icon-']:focus {
  text-decoration: none; }

.gs-icon-phone:before {
  content: "\f095"; }

.gs-icon-phone:hover {
  color: white; }

.gs-icon-large {
  font-size: 190%;
  vertical-align: -8%; }

.gs-section {
  margin: 15px auto;
  box-sizing: border-box;
  max-width: 768px;
  padding: 0 10px; }
  @media (min-width: 768px) {
    .gs-section {
      margin: 20px auto;
      max-width: 980px;
      padding: 0 25px; } }
  @media (min-width: 1200px) {
    .gs-section {
      margin: 25px auto;
      max-width: 1200px;
      padding: 0 35px; } }
  .gs-section:before, .gs-section:after {
    content: "";
    display: table; }
  .gs-section:after {
    clear: both; }

/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("../fonts/lobster-cyrillic.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* latin-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("../fonts/lobster-latin-ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("../fonts/lobster-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

.gs-story-with-spoiler {
  font-style: italic;
  /* State 1: not checked */
  /* State 2: checked */ }
  .gs-story-with-spoiler > input.gs-story-with-spoiler-state {
    /* Never display check box. Show label instead */
    display: none; }
    .gs-story-with-spoiler > input.gs-story-with-spoiler-state + span.gs-story-with-spoiler-wrap {
      text-align: right; }
      .gs-story-with-spoiler > input.gs-story-with-spoiler-state + span.gs-story-with-spoiler-wrap > span.gs-spoiler-target {
        display: none; }
    .gs-story-with-spoiler > input.gs-story-with-spoiler-state ~ span.gs-story-with-spoiler-trigger-wrap {
      text-align: right; }
      .gs-story-with-spoiler > input.gs-story-with-spoiler-state ~ span.gs-story-with-spoiler-trigger-wrap > label.gs-story-with-spoiler-trigger:before {
        content: 'Показать весь текст ↓'; }
  .gs-story-with-spoiler > input.gs-story-with-spoiler-state:checked + span.gs-story-with-spoiler-wrap {
    text-align: left; }
    .gs-story-with-spoiler > input.gs-story-with-spoiler-state:checked + span.gs-story-with-spoiler-wrap > span.gs-spoiler-target {
      display: inline; }
  .gs-story-with-spoiler > input.gs-story-with-spoiler-state:checked ~ span.gs-story-with-spoiler-trigger-wrap > label.gs-story-with-spoiler-trigger:before {
    content: 'Свернуть ↑'; }
  .gs-story-with-spoiler > span.gs-story-with-spoiler-wrap {
    display: block; }
  .gs-story-with-spoiler > span.gs-story-with-spoiler-trigger-wrap {
    display: block; }
    .gs-story-with-spoiler > span.gs-story-with-spoiler-trigger-wrap > label.gs-story-with-spoiler-trigger {
      font-style: italic; }

.gs-nanotech-parallax {
  /* The image used */
  background-image: url("../img/nanotech.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

.gs-main-menu .gs-story-with-spoiler {
  text-shadow: 0 0 5px white; }

.gs-main-menu > .uk-container > .uk-breadcrumb {
  margin-bottom: 0; }
  .gs-main-menu > .uk-container > .uk-breadcrumb > li > h1 {
    margin-bottom: 0; }

.gs-main-menu .gs-navigation > p {
  line-height: 2;
  text-shadow: 0 0 10px white; }
  .gs-main-menu .gs-navigation > p > a {
    color: #07d;
    border-bottom: 1px solid rgba(0, 120, 220, 0.33);
    text-decoration: none; }
    .gs-main-menu .gs-navigation > p > a:hover {
      color: #CC0000;
      border-color: #f0b2b2; }

.uk-breadcrumb {
  font: 400 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .uk-breadcrumb > li > .gs-link {
    font: 400 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #07d;
    border-bottom: 1px solid rgba(0, 120, 220, 0.33);
    text-decoration: none; }
    .uk-breadcrumb > li > .gs-link:hover {
      color: #CC0000;
      border-color: #f0b2b2; }
  .uk-breadcrumb > li > h1 {
    display: inline-block; }

.gs-contact {
  max-width: 300px; }
  .gs-contact > span.gs-contact-name {
    width: 75px;
    word-break: break-all; }

.gs-text-large {
  font: 400 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.karta-poselka > ul.uk-breadcrumb {
  position: fixed;
  top: 75px;
  left: 55px; }
  @media screen and (min-width: 768px) {
    .karta-poselka > ul.uk-breadcrumb {
      top: 135px; } }

.karta-poselka > iframe {
  z-index: -1;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }
  @media screen and (min-width: 768px) {
    .karta-poselka > iframe {
      top: 120px; } }
