.gs-breadcrumb {
  color: #434A54;
  background-color: #E6E9ED;
  padding: 8px 15px;
  list-style: none;
  border-radius: 4px; }
  .gs-breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0"; }

.gs-breadcrumb__list-item {
  display: inline-block; }

.gs-breadcrumb__list-item_active {
  color: #434A54; }

.gs-breadcrumb__link {
  color: #3BAFDA; }

.gs-breadcrumb__hidden-small-text {
  display: inline; }
  @media (max-width: 767px) {
    .gs-breadcrumb__hidden-small-text {
      display: none; } }

.gs-breadcrumb__visible-small-text {
  display: none; }
  @media (max-width: 767px) {
    .gs-breadcrumb__visible-small-text {
      display: inline; } }

.gs-container {
  margin-top: 15px;
  box-sizing: border-box;
  max-width: 980px;
  padding: 0 25px; }
  @media (min-width: 980px) {
    .gs-container {
      margin-top: 25px; } }
  @media (min-width: 1220px) {
    .gs-container {
      margin-top: 35px;
      max-width: 1200px;
      padding: 0 35px; } }

.gs-container_center {
  margin-left: auto;
  margin-right: auto; }

.gs-container_padding-bottom {
  padding-bottom: 100px; }

.gs-header {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .gs-header {
      height: 120px; } }

.gs-header_theme_mint-dark {
  background-color: #37BC9B;
  border-color: #37BC9B; }

.gs-header_theme_mint-light {
  background-color: #48CFAD;
  border-color: #48CFAD; }

.gs-header__title {
  color: white;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px; }
  @media screen and (min-width: 768px) {
    .gs-header__title {
      font-size: 43px;
      font-weight: 500;
      letter-spacing: 8px; } }

.gs-parallax {
  /* The image used */
  background-image: url("../img/city_landscape_background.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 320px;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1; }

/**
   * typography
   * --------------------------------------------------
   */
html {
  font: normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%; }

body {
  font: normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #434A54;
  background-color: #F5F7FA;
  margin: 0;
  min-height: 100%;
  position: relative;
  z-index: 0; }

a {
  color: #3BAFDA;
  text-decoration: none; }
  a:hover, a:focus {
    color: #4FC1E9;
    text-decoration: none; }
  a:focus {
    outline: none; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: #e7e9ec; }

h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 15px; }

h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px; }

h6 {
  font-weight: normal; }

h1,
.h1 {
  font-size: 51px; }

h2,
.h2 {
  font-size: 43px; }

h3,
.h3 {
  font-size: 30px; }

h4,
.h4 {
  font-size: 19px; }

h5,
.h5 {
  font-size: 18px; }

h6,
.h6 {
  font-size: 14px; }

blockquote {
  border-left: 3px solid #CCD1D9; }

.gs-text-large {
  font: 400 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.gs-link {
  background: none;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #07d;
  border-bottom: 1px solid rgba(0, 120, 220, 0.33); }
  .gs-link:hover {
    text-decoration: none;
    color: #CC0000;
    border-color: #f0b2b2; }
  .gs-link:visited {
    text-decoration: none;
    color: #B40EB4;
    border-color: #e0b2e0; }
    .gs-link:visited:hover {
      text-decoration: none;
      color: #CC0000;
      border-color: #f0b2b2; }

.gs-link-dotted {
  border-bottom-style: dotted; }

.gs-link-medium-font {
  font: 400 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.gs-section {
  margin: 15px auto;
  box-sizing: border-box;
  max-width: 768px;
  padding: 0 10px; }
  @media (min-width: 768px) {
    .gs-section {
      margin: 20px auto;
      max-width: 980px;
      padding: 0 25px; } }
  @media (min-width: 1200px) {
    .gs-section {
      margin: 25px auto;
      max-width: 1200px;
      padding: 0 35px; } }
  .gs-section:before, .gs-section:after {
    content: "";
    display: table; }
  .gs-section:after {
    clear: both; }

.gs-phone-button {
  width: 50px;
  height: 50px;
  text-decoration: none;
  color: white;
  background-color: #00a54f;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px; }

[class*='gs-icon-'] {
  font-family: FontAwesome;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class*='gs-icon-'],
[class*='gs-icon-']:hover,
[class*='gs-icon-']:focus {
  text-decoration: none; }

.gs-icon-phone:before {
  content: "\f095"; }

.gs-icon-phone:hover {
  color: white; }

.gs-icon-large {
  font-size: 190%;
  vertical-align: -8%; }

.gs-contact {
  max-width: 300px; }
  .gs-contact > span.gs-contact-name {
    width: 75px;
    word-break: break-all; }

.gs-more-links > p {
  line-height: 2;
  text-shadow: 0 0 10px white; }
