// Variables
//------------------------------------------------------
$breadcrumb-font-color:                        $darkgray-dark !default;
$breadcrumb-link-color:                        $aqua-dark !default;
$breadcrumb-background-color:                  $lightgray-dark !default;

$breadcrumb-arrow-radius:                      4px !default;
//$breadcrumb-arrow-font-color:                  $white !default;
//$breadcrumb-arrow-background-color:            $aqua-dark !default;
//$breadcrumb-arrow-background-color-hover:      $aqua-light !default;

// Exports
//------------------------------------------------------
@include exports("breadcrumb") {

    .gs-breadcrumb {
        color: $breadcrumb-font-color;
        background-color: $breadcrumb-background-color;
        padding: 8px 15px;
        margin-bottom: 20px;
        list-style: none;
        border-radius: $breadcrumb-arrow-radius;

        > li+li:before {
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0";
        }
    }

    .gs-breadcrumb__list-item {
        display: inline-block;
    }

    .gs-breadcrumb__list-item_active {
        color: $darkgray-dark;
    }

    .gs-breadcrumb__link {
        color: $breadcrumb-link-color;
    }

    .gs-breadcrumb__hidden-small-text {
        display: inline;

        @media (max-width: 767px) {
            display: none;
        }
    }

}


