$call-button-info:                      $mint-dark !default;
$call-button-info-hover:                $mint-light !default;
$call-button-font-color-light:          $white !default;

$call-button-shadow:                    inset 0 1px 2px rgba(0, 0, 0, .125) !default;
$call-button-radius:                    50px;

// Exports
//------------------------------------------------------

@include exports("call-button") {


    .gs-call-button {

        @include radius($type: border-radius, $value: $call-button-radius);

        background-image: none;
        border: 1px solid transparent;
        cursor: pointer;
        display: inline-block;
        font-weight: normal;
        margin-bottom: 0;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        user-select: none;

        &,
        &:active,
        &.active,
        &.disabled,
        &[disabled] {
            color: $call-button-font-color-light;
            border-color: $call-button-info;
            background-color: $call-button-info;
        }

        &:hover,
        &:focus {
            color: $call-button-font-color-light;
            border-color: $call-button-info-hover;
            background-color: $call-button-info-hover;
            outline: 0 !important;

        }

        &:active,
        &.active {
            @include box-shadow($value: $call-button-shadow);
        }
    }

    @font-face {
        font-family: 'call_button';
        src: url('../fonts/call_button.eot?8997920');
        src: url('../fonts/call_button.eot?8997920#iefix') format('embedded-opentype'),
        url('../fonts/call_button.woff2?8997920') format('woff2'),
        url('../fonts/call_button.woff?8997920') format('woff'),
        url('../fonts/call_button.ttf?8997920') format('truetype'),
        url('../fonts/call_button.svg?8997920#call_button') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .gs-call-button__phone-icon {

        /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
        /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
        /*
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          @font-face {
            font-family: 'call_button';
            src: url('../font/call_button.svg?8997920#call_button') format('svg');
          }
        }
        */

        font-family: "call_button";
        font-style: normal;
        font-weight: normal;
        speak: none;

        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        /* opacity: .8; */

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;

        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

        &:before {
            content: '\e808';
        } /* '' */
    }
}
