// Global Variables
//------------------------------------------------------
$modules:                     () !default;

$experimental:                true !default;

// prefix elements
$prefix-webkit:               true !global;
$prefix-moz:                  true !global;
$prefix-spec:                 true !global;

// color elements
$white:                       #FFF !default;
$black:                       #000 !default;

$bluejeans-dark:              #4A89DC !default;
$bluejeans-light:             #5D9CEC !default;

$aqua-dark:                   #3BAFDA !default;
$aqua-light:                  #4FC1E9 !default;

$mint-dark:                   #37BC9B !default;
$mint-light:                  #48CFAD !default;

$grass-dark:                  #8CC152 !default;
$grass-light:                 #A0D468 !default;

$sunflower-dark:              #F6BB42 !default;
$sunflower-light:             #FFCE54 !default;

$bittersweet-dark:            #E9573F !default;
$bittersweet-light:           #FC6E51 !default;

$grapefruit-dark:             #DA4453 !default;
$grapefruit-light:            #ED5565 !default;

$lavender-dark:               #967ADC !default;
$lavender-light:              #AC92EC !default;

$pinkrose-dark:               #D770AD !default;
$pinkrose-light:              #EC87C0 !default;

$lightgray-dark:              #E6E9ED !default;
$lightgray-light:             #F5F7FA !default;

$mediumgray-dark:             #AAB2BD !default;
$mediumgray-light:            #CCD1D9 !default;

$darkgray-dark:               #434A54 !default;
$darkgray-light:              #656D78 !default;

// screen sizes
$medium-start:                768px;
$large-start:                 1220px;

$common-height:               80px;
$common-width:                260px;

// Global Mixins
//------------------------------------------------------

// We use this to loading scss files
@mixin exports($name) {
    @if index($modules, $name) {
    } @else {
        $modules: append($modules, $name) !global;
        @content;
    }
}

// We use this to add across browser prefixes
@mixin prefixer($property, $value, $prefixes: webkit moz spec) {
    @if $experimental {
        @each $prefix in $prefixes {
            @if $prefix != spec {
                @if $property == border-top-left-radius and $prefix == moz {
                    @if $prefix-moz {
                        -moz-border-radius-topleft: $value;
                    }
                } @else if $property == border-top-right-radius and $prefix == moz {
                    @if $prefix-moz {
                        -moz-border-radius-topright: $value;
                    }
                } @else if $property == border-bottom-right-radius and $prefix == moz {
                    @if $prefix-moz {
                        -moz-border-radius-bottomright: $value;
                    }
                } @else if $property == border-bottom-left-radius and $prefix == moz {
                    @if $prefix-moz {
                        -moz-border-radius-bottomleft: $value;
                    }
                } @else {
                    @if $prefix == webkit {
                        @if $prefix-webkit {
                            -webkit-#{$property}: $value;
                        }
                    }
                    @if $prefix == moz {
                        @if $prefix-moz {
                            -moz-#{$property}: $value;
                        }
                    }
                }
            } @else {
                @if $prefix-spec {
                    #{$property}: $value;
                }
            }
        }
    }
}

// We use this to add box-sizing across browser prefixes
@mixin box-sizing($value: border-box) {
    @include prefixer($property: box-sizing, $value: $value, $prefixes: webkit moz spec);
}

// We use this to control border radius.
@mixin radius($type: border-radius, $value: $global-radius) {
    @include prefixer($property: $type, $value: $value, $prefixes: webkit moz spec);
}

// We use this to control box shadow.
@mixin box-shadow($value) {
    @include prefixer($property: box-shadow, $value: $value, $prefixes: webkit moz spec);
}

// Fontello
//------------------------------------------------------
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?v=1.2');
    src: url('../fonts/fontello.eot?v=1.2#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?v=1.2') format('woff2'),
    url('../fonts/fontello.woff?v=1.2') format('woff'),
    url('../fonts/fontello.ttf?v=1.2') format('truetype'),
    url('../fonts/fontello.svg?v=1.2#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22736674#fontello') format('svg');
  }
}
*/

[class^="gs-icon-"]:before, [class*=" gs-icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.gs-icon-ok:before { content: '\e800'; } /* '' */
.gs-icon-phone:before { content: '\e808'; } /* '' */
.gs-icon-menu:before { content: '\f0c9'; } /* '' */
.gs-icon-angle-right:before { content: '\f105'; } /* '' */
.gs-icon-spinner:before { content: '\f110'; } /* '' */
.gs-icon-frown:before { content: '\f119'; } /* '' */
.gs-icon-rouble:before { content: '\f158'; } /* '' */


// Spin animation
// ref: https://stackoverflow.com/a/16771693/4222953
//------------------------------------------------------
@-moz-keyframes spin { 
    100% { 
        -moz-transform: rotate(360deg); 
    } 
}

@-webkit-keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
    } 
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg); 
    }   
}

.gs-icon-spin::before {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}


// Body padding due to fixed header position
//------------------------------------------------------

body {
    padding-top: $common-height;
    padding-bottom: $common-height;
}
