// Variables
//------------------------------------------------------
$header-height:                 $common-height;
$img-background-size:           $common-width;

$nanotech-background-img:       url("../img/header.png");

// Exports
//------------------------------------------------------
@include exports("header") {

    .gs-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;

        /* The image used */
        background-image: $nanotech-background-img;

        background-position: center;
        background-repeat: no-repeat;
        background-size: $img-background-size;
        z-index: 1;
    }

    .gs-header__off-canvas-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        font-size: 30px;
        font-weight: 400;
        letter-spacing: 3px;

        top: $header-height / 3;
        right: $header-height / 5;
        height: $header-height / 2;
        width: $header-height / 2;

    }

}
