// Variables
//------------------------------------------------------
$header-height:                 $common-height;
$img-background-size:           $common-width;

$default-map-color:                    #f2eee9;

$nanotech-background-img:       url("../img/header.png");

// Exports
//------------------------------------------------------
@include exports("header") {

    .gs-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;

        z-index: 1;
    }

    .gs-header__veil {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        //F5F7FA
        background: -moz-linear-gradient(top, rgba(245,247,250,1) 0%, rgba(245,247,250,1) 75%, rgba(245,247,250,0) 100%);
        background: -webkit-linear-gradient(top, rgba(245,247,250,1) 0%, rgba(245,247,250,1) 75%,rgba(245,247,250,0) 100%);
        background: linear-gradient(to bottom, rgba(245,247,250,1) 0%, rgba(245,247,250,1) 75%,rgba(245,247,250,0) 100%);
    }

    .gs-header__veil_default-map-color {
        background: $default-map-color;
    }

    .gs-header__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        background-image: $nanotech-background-img;
        background-position: center;
        background-repeat: no-repeat;
        background-size: $img-background-size;
    }

    .gs-header__off-canvas-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        font-size: 30px;
        font-weight: 400;
        letter-spacing: 3px;

        top: $header-height / 3;
        right: $header-height / 5;
        height: $header-height / 2;
        width: $header-height / 2;

    }

}
