// Variables
//------------------------------------------------------
$height-small:                  $header-height-small;
$height-large:                  $header-height-large;

$offcanvas-height-small:        $height-small / 2;
$offcanvas-widht-small:         $height-small / 2;

$offcanvas-height-large:        $height-large / 2;
$offcanvas-widht-large:         $height-large / 2;
$nanotech-background-img:       url("../img/header.png");

// Exports
//------------------------------------------------------
@include exports("header") {

    .gs-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;

        /* The image used */
        background-image: $nanotech-background-img;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 320px;
        z-index: 1;
    }

    .gs-header__off-canvas-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        color: white;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 3px;

        top: $height-small / 4;
        right: $height-small / 4;
        height: $height-small / 2;
        width: $height-small / 2;

        @media screen and (min-width: $medium-start) {
            font-size: 43px;
            font-weight: 500;
            letter-spacing: 8px;

            top: $height-large / 4;
            right: $height-large / 4;
            height: $height-large / 2;
            width: $height-large / 2;
        }
    }

}
