// Variables
//------------------------------------------------------
$main-menu-link-radius:                         4px;
$main-menu-link-shadow:                         inset 0 1px 2px rgba(0, 0, 0, .125) !default;
$main-menu-link-font-color-dark:                $darkgray-dark !default;
$main-menu-link-normal:                         $mediumgray-dark !default;
$main-menu-link-normal-hover:                   $mediumgray-light !default;
$main-menu-link-default:                        $white !default;

// Exports
//------------------------------------------------------
@include exports("main-menu") {

    .gs-main-menu {

    }

    .gs-main-menu__link {

        @include radius($type: border-radius, $value: $main-menu-link-radius);

        background-color: $main-menu-link-default;
        background-image: none;
        border: 1px solid $main-menu-link-normal;
        cursor: pointer;
        display: block;
        font-weight: normal;
        margin-bottom: 1px;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        user-select: none;

        color: $main-menu-link-font-color-dark;

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $main-menu-link-default;
            border-color: $main-menu-link-normal-hover;
            background-color: $main-menu-link-normal-hover;
            text-decoration: none;
        }

        &:active,
        &.active {
            @include box-shadow($value: $main-menu-link-shadow);
        }
    }
    
    .gs-main-menu__link_disabled {
		opacity: 0;
		cursor: default;
    }

    [data-city] {
        display: none;
    }
    
    .gusev > [data-city*="gusev"],
    .kaliningrad > [data-city*="kaliningrad"] {
        display: block;
    }

}
