// Variables
//------------------------------------------------------
// $height-small:                  $header-height-small;
// $height-large:                  $header-height-large;

// $offcanvas-height-small:        $height-small / 2;
// $offcanvas-widht-small:         $height-small / 2;

// $offcanvas-height-large:        $height-large / 2;
// $offcanvas-widht-large:         $height-large / 2;

// Exports
//------------------------------------------------------
@include exports("off-canvas") {

    .gs-off-canvas {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .4);
        overflow-x: hidden; /* Disable horizontal scroll */
    }

    .gs-off-canvas__bar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 2; /* Stay on top */
        top: 0;
        right: 0;
        background-color: #434A54; /* darkgray-dark*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 30px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    .gs-off-canvas__label {
        display: inline-block ;
        padding: 0 20px;
        margin: 20px 55%;
        text-align: center;
        background-color: #37bc9b;
        color: #fff;
        line-height: 1.5;
        font-size: 2rem;
        vertical-align: middle;
        white-space: nowrap;
    }

    .gs-off-canvas__btn {
        padding: 8px 8px 8px 24px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        margin-top: 10px;
        width: 100%;
        background: none;
        border: none;
        white-space: nowrap;
    }

    .gs-off-canvas__btn:active,
    .gs-off-canvas__btn:focus
    {
        outline: none;
    }

    .active_btn{
        background-color: #37BC9B;
        color: #ffffff;
    }

    .active_btn::before {
        content: "V ";
    }
}
