// Variables
//------------------------------------------------------
// $height-small:                  $header-height-small;
// $height-large:                  $header-height-large;

// $offcanvas-height-small:        $height-small / 2;
// $offcanvas-widht-small:         $height-small / 2;

// $offcanvas-height-large:        $height-large / 2;
// $offcanvas-widht-large:         $height-large / 2;

// Exports
//------------------------------------------------------
@include exports("off-canvas") {

    .gs-off-canvas {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .4);
        overflow-x: hidden; /* Disable horizontal scroll */
    }

    .gs-off-canvas__bar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 2; /* Stay on top */
        top: 0;
        right: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 30px; /* Place content 30px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

        // TODO (2): 
        // посмотреть какие у нас есть стандартные цвета в global.scss 
        // и выбрать для бекграунда какой-нибудь темный цвет на свой вкус
    }
    
    .gs-off-canvas__label {
        // TODO (2):
        // подобрать стили по вкусу
    }

    .gs-off-canvas__btn {
        padding: 8px 8px 8px 24px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        margin-top: 10px;
        width: 100%;

        // TODO (2): 
        // подобрать стили по вкусу
        // ожидается, что:
        //  - у кнопки не будет рамки и бекграунда
        //  - цвет текста будет светлый
        //  - если кнопка выбрана, появляется цвет у бекграунда и этот цвет подсказывает пользователю, что кнопка выбрана
        //  - также у выбранной кнопки появляется иконка "галочка", что еще раз показывает текущий город 

    }
}
