// Variables
//------------------------------------------------------
$table-max-width:                      $medium-start - 1;

// Exports
//------------------------------------------------------
@include exports("table") {

    .gs-table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        margin-bottom: 15px;
    }

    /*
     * Add margin if adjacent element
     */
    * + .gs-table {
        margin-top: 15px;
    }
    .gs-table th,
    .gs-table td {
        padding: 8px 8px;
        border-bottom: 1px solid #ddd;
    }

    /*
     * Set alignment
     */
    .gs-table th {
        text-align: left;
    }
    .gs-table td {
        vertical-align: top;
    }
    .gs-table thead th {
        vertical-align: bottom;
    }

    /*
     * Caption and footer
     */
    .gs-table caption,
    .gs-table tfoot {
        font-size: 12px;
        font-style: italic;
    }
    .gs-table caption {
        text-align: left;
        color: #999;
    }

    .gs-table__thead_hidden-small-text {
        display: inline;

        @media (max-width: $table-max-width) {
            display: none;
        }
    }

    .gs-table__thead_visible-small-text {
        display: none;

        @media (max-width: $table-max-width) {
            display: inline;
        }
    }

    .gs-table_text-center {
        text-align: center;
    }

    .gs-table_text-left {
        text-align: left;
    }

    @font-face {
        font-family: 'rubble_icon';
        src: url('../fonts/rubble_icon.eot?40945339');
        src: url('../fonts/rubble_icon.eot?40945339#iefix') format('embedded-opentype'),
        url('../fonts/rubble_icon.woff2?40945339') format('woff2'),
        url('../fonts/rubble_icon.woff?40945339') format('woff'),
        url('../fonts/rubble_icon.ttf?40945339') format('truetype'),
        url('../fonts/rubble_icon.svg?40945339#call_button') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .gs-table__rubble-icon {

        /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
        /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
        /*
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          @font-face {
            font-family: 'call_button';
            src: url('../font/call_button.svg?8997920#call_button') format('svg');
          }
        }
        */

        font-family: "rubble_icon";
        font-style: normal;
        font-weight: normal;
        speak: none;

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

        &:before {
            content: '\f158';
        } /* '' */
    }
}


