$thumbnail-background-color:        $white !default;
$thumbnail-shadow:                  0 1px 2px rgba(0, 0, 0, .2) !default;
$thumbnail-radius:                  4px;

$thumbnail-max-width:               270px;

// Exports
//------------------------------------------------------
@include exports("thumbnail") {

    .gs-thumbnail {
        @include box-shadow($value: $thumbnail-shadow);
        @include radius($type: border-radius, $value: $thumbnail-radius);

        background-color: $thumbnail-background-color;
        border: none;
        padding: 3px;
    }

    .gs-thumbnail__image {
        @include radius($type: border-radius, $value: $thumbnail-radius);
        width: 100%;
    }

    .gs-thumbnail__caption {
        font-size: 14px;
        padding: 10px;

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
            margin: 0;
            font-size: 16px;
        }

    }

    .gs-thumbnail__caption_text-center {
        text-align: center;
    }

}
