
@import '../variables';

.gs-header {
  background-color: #00a54f;
  color: #fff;
  text-shadow: 2px 2px 2px green;
  font: $gs-lobster-header-font;
  height: 60px;
  padding-bottom: 10px;
  padding-top: 10px;

  @media screen and (min-width: $medium-start) {
    font-size: 40px;
    height: 120px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
