
@import '../variables';

.gs-header {
  background-color: #00a54f;
  color: #fff;
  text-shadow: 2px 2px 2px green;
  font: $gs-lobster-header-font;
  height: 80px;

  @media screen and (min-width: $medium-start) {
    font-size: 40px;
    height: 150px;
  }
}
