@import '../variables';

.gs-link {
  background: none;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: $gs-link-color;
  border-bottom: $gs-link-border-bottom;

  &:hover {
    text-decoration: none;
    color: #CC0000;
    border-color: #f0b2b2;
  }

  &:visited {
    text-decoration: none;
    color: #B40EB4;
    border-color: #e0b2e0;

    &:hover {
      text-decoration: none;
      color: #CC0000;
      border-color: #f0b2b2;
    }

  }
}

.gs-link-dotted {
  border-bottom-style: dotted;
}

.gs-link-medium-font {
  font: $gs-default-medium-font;
}
