
@import '../variables';

.gs-main-menu {

    // Story
    .gs-story-with-spoiler {
        text-shadow: 0 0 5px white;
    }

    // Website navigation
    .gs-navigation {
        > p {
            line-height: 2;
            text-shadow: 0 0 10px white;
        }
    }

}
