@import "../variables";

.gs-nanotech-parallax {

  /* The image used */
  background-image: url($nanotech-background);

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
