@import "../variables";

$medium-start: 768px;
$xlarge-start: 1200px;

.gs-section {

  margin: 15px auto;
  box-sizing: border-box;

  max-width: $medium-start;
  padding: 0 10px;

  @media (min-width: $medium-start) {
    margin: 20px auto;
    max-width: 980px;
    padding: 0 25px;
  }

  @media (min-width: $xlarge-start) {
    margin: 25px auto;
    max-width: 1200px;
    padding: 0 35px;
  }

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
