@import '../variables';

.gs-story-with-spoiler {

  font-style: italic;

  /* State 1: not checked */
  > input.gs-story-with-spoiler-state {

    /* Never display check box. Show label instead */
    display: none;

    & + span.gs-story-with-spoiler-wrap {

      text-align: right;

      > span.gs-spoiler-target {
        display: none;
      }
    }

    & ~ span.gs-story-with-spoiler-trigger-wrap {

      text-align: right;

      > label.gs-story-with-spoiler-trigger:before {
        content: 'Показать весь текст ↓';
      }
    }
  }

  /* State 2: checked */
  > input.gs-story-with-spoiler-state:checked {

    & + span.gs-story-with-spoiler-wrap {

      text-align: left;

      > span.gs-spoiler-target {
        display: inline;
      }
    }

    & ~ span.gs-story-with-spoiler-trigger-wrap > label.gs-story-with-spoiler-trigger:before {
      content: 'Свернуть ↑';
    }

  }

  > span.gs-story-with-spoiler-wrap {
    display: block;
  }

  > span.gs-story-with-spoiler-trigger-wrap {
    display: block;

    > label.gs-story-with-spoiler-trigger {
      font-style: italic;
    }
  }

}
